
.inner {
    max-width: 1410px;
    margin: 0 auto;
}

.tit {
    max-width: 1410px;
    width: 100%;
    margin: 0 auto 40px auto;
}

.tit h3 {
    position: relative;
    font-size: 32px;
    font-weight: 400;
    color: #333;
    margin: 0 0 24px 0;
}

.tit .var::before {
    content: "";
    display: inline-block;
    width: 200px;
    height: 2px;
    background: #333;
    z-index: 1004;
}