.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #ddd;

}


.header .inner {
    max-width: calc(100% - 80px);
    display: flex;
    align-items: center;
    height: 80px;
    white-space: nowrap;
}


.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li a {

    font-size: 16px;
    font-weight: 400;
    color: #333;

}

.header .inner .utill {
    margin: 0 0 0 auto;
}

.header .inner .utill>ul {
    display: flex;
    gap: 20px;
}

.header .inner .utill>ul>li a {
    display: block;
    line-height: 80px;
    font-size: 16px;
    font-weight: 400;
}

.header .inner .utill>ul>li img {
    vertical-align: middle;

}

/* //헤더끝// */



.aside {
    position: fixed;
    top: 50%;
    right: 40px;
    transform: translate(0, -50%);
    z-index: 999;
}

.aside li a {
    position: relative;
    display: block;
    width: 100px;
    height: 40px;
    text-align: right;
    color: #ddd;
    font-size: 14px;
    padding: 12px 12px 0 0;
}


.aside li.on a {
    color: #333;
    font-weight: 500;
}



.aside li a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 8px;
    height: 8px;
    background: #ddd;
    transform: translate(-50%, -50%);
    border-radius: 50%;

}

.aside li.on a::after {

    background: #333;

}


/* //사이드네비 끝// */

.main_visual {}


.main_visual .main_visual_slide {
    position: relative;

}


.main_visual_slide .itm {
    position: relative;
    height: calc(100vh - 80px);
}

.main_visual_slide .itm01 {
    background: url(../imges/main_visual_slide/main_visual_slide-01.jpg)center center/cover;
}

.main_visual_slide .itm02 {
    background: url(../imges/main_visual_slide/main_visual_slide-02.jpg)center center/cover;
}

.main_visual_slide .itm03 {
    background: url(../imges/main_visual_slide/main_visual_slide-03.jpg)center center/cover;
}

.main_visual_slide .itm04 {
    background: url(../imges/main_visual_slide/main_visual_slide-04.jpg)center center/cover;
}

.main_visual_slide .itm .slg01 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;

}

.main_visual_slide .itm .slg01 strong {
    display: block;
    font-size: 80px;
    font-weight: 800;
    color: #906a67;
    margin: 32px 0;
    /* text-shadow: 1px 0 2px rgba(0, 0, 0, 0.5); */
}

.main_visual_slide .itm .slg01 p {
    font-size: 24px;
    font-weight: 400;
    color: #906a67;
}

.main_visual_slide .itm .m_logo {
    position: absolute;
    bottom: 100px;
    left: 50%;

    transform: translate(-50%, 0);
}

.main_visual_slide .slick-arrow {

    z-index: 1003;
    position: absolute;
    top: 50%;
    transform: -50%, -50%;
    background: transparent;
    border: none;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    border-top: 3px solid rgba(0, 0, 0, 0.3);
    border-left: 3px solid rgb(0, 0, 0, 0.3);
    cursor: pointer;

}

.main_visual_slide .slick-prev {
    left: 255px;
    transform: rotate(-45deg);
}

.main_visual_slide .slick-next {
    right: 255px;
    transform: rotate(135deg);
}


.main_visual_slide .slick-dots {
    max-width: 1410px;
    position: absolute;
    bottom: 100px;
    left: 255px;

}

.main_visual_slide .slick-dots li {
    display: inline-block;
    margin: 0 40px 0 0;
}

.main_visual_slide .slick-dots li:last-child {
    display: inline-block;
    margin: 0;
}

.main_visual_slide .slick-dots li button {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border: 3px solid #4a4e69;
}

.main_visual_slide .slick-dots li.slick-active button {
    color: #fff;
    background: #4a4e69;
    font-size: 24px;
}


/* // 메인슬라이드 끝// */



.main_exhibition {}

.main_exhibition .inner {
    position: relative;
    height: 100vh;
    padding: 40px 0;
}

.main_exhibition .tit {}

.main_exhibition .tit h2 {
    position: relative;
    font-size: 32px;
    font-weight: 400;
    color: #333;
    margin: 0 0 24px 0;
}

.main_exhibition .tit .var::before {
    content: "";
    display: inline-block;
    width: 200px;
    height: 2px;
    background: #333;

    z-index: 1004;
}

.main_exhibition .contents {
    display: flex;
    gap: 30px;
}

.main_exhibition .contents .content_slide {
    flex: 2;
    overflow: hidden;
}


.main_exhibition .content_slide .slick-dots {
    margin: 100px 0;
}

.main_exhibition .content_slide .slick-dots li {
    display: inline-block;
}

.main_exhibition .content_slide .slick-dots li button {
    width: 230px;
    height: 2px;
    background: #ddd;
    text-indent: -9999px;

}

.main_exhibition .content_slide .slick-dots li.slick-active button {
    background: #333;
}


.main_exhibition .more {}

.main_exhibition .more>ul>li {
    position: relative;
    border: 1px solid #ddd;
    width: 460px;
    height: 120px;
    line-height: 100px;
    padding: 10px 30px;

}



.main_exhibition .more>ul>li~li {
    border-top: none;
}

.main_exhibition .more>ul>li:hover {
    background: #4a4e69;
    color: #fff;
    transition: 0.5s;
}

.main_exhibition .more>ul>li a {
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
    width: 330px;

}

.main_exhibition .more>ul>li a::before {

    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%) rotate(135deg);
    width: 16px;
    height: 16px;
    background: transparent;
    border-top: 2px solid #4a4e69;
    border-left: 2px solid #4a4e69;
    z-index: 1005;


}

.main_exhibition .more>ul>li:hover a::before {
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;

}



.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-delay: 10ms;
}


/* //메인전시끝// */


.main_introduction {
    background: #f9f9f9;
}

.main_introduction .inner {
    padding: 40px 0;
    height: 100vh;
}

.main_introduction .tit .var::before {
    margin: 0 0 40px 0;
}


.main_introduction .tit .desc {
    display: flex;
}



.main_introduction .container>* {
    flex: 1;
}

.main_introduction .container {
    display: flex;
    gap: 30px;
}

.main_introduction .first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}


.main_introduction .first .itm {
    position: relative;
    overflow: hidden;
}

.main_introduction .first .itm:hover figure {
    transform: scale(1.1);
    transition: 0.5s;

}

.main_introduction .first .itm:hover figure>a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 335px;
    height: 284px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;

}

.main_introduction .first .itm .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.main_introduction .first .itm .desc>a {
    display: none;
    text-align: center;
    line-height: 28px;
}

.main_introduction .first .itm:hover .desc>a {
    color: #fff;
    display: block;
}





.main_introduction .second {
    position: relative;

}

.main_introduction .second:hover figure>a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom,
            rgba(20, 20, 20, 0) 10%,
            rgba(20, 20, 20, 0.25) 25%,
            rgba(20, 20, 20, 0.5) 50%,
            rgba(20, 20, 20, 0.75) 75%,
            rgba(20, 20, 20, 1) 100%);
    z-index: 999;

}

.main_introduction .second .desc {
    position: absolute;
    bottom: 40px;
    left: 40px;
    z-index: 999;

}

.main_introduction .second .desc>a {
    display: none;
    font-size: 28px;
}

.main_introduction .second:hover .desc>a {
    display: block;
    color: #fff;

}

/* //메인안내끝// */



.main_news {}

.main_news .inner {
    height: 100vh;
    padding: 40px 0 0 0;
}


.main_news .container {
    position: relative;
    display: flex;
    gap: 30px;
}

.main_news .container>* {
    flex: 1;
}

.main_news .news {}




.main_news .news .news_menu {
    position: relative;
    display: flex;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #333;
}


.main_news .news .news_menu li button {
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    width: 115px;
    height: 50px;
}

.main_news .news .news_menu li:nth-child(1) button {
    border-left: 1px solid#333;
}

.main_news .news .news_menu li.on button {
    background: #4a4e69;
    color: #fff;
    border: 1px solid #4a4e69;

}

.main_news .news .news_content {
    margin: 0 0 40px 0;
}


.main_news .news .news_content>ul {
    display: none;
}

.main_news .news .news_content>ul.on {
    display: block;
}

.main_news .news .news_content li {
    border-bottom: 1px solid #ddd;
}

.main_news .news .news_content li a {
    display: block;
    margin: 16px 10px;
}



.main_news .news .plus_btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.main_news .news .plus_btn a {
    text-indent: -9999px;
    position: relative;
    width: 32px;
    height: 32px;
    background: #4a4e69;
    border-radius: 50%;
}

.main_news .news .plus_btn a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 2px;
    background: #fff;
    z-index: 999;

}

.main_news .news .plus_btn a:hover:before {
    animation: rotate 3s;
}

.main_news .news .plus_btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 16px;
    background: #fff;
    z-index: 999;

}


.main_news .news .plus_btn a:hover:after {
    animation: rotate 3s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}




.main_news .news .webtoon {}

.main_news .news .webtoon h3 {
    font-size: 24px;
    margin: 0 0 40px 0;
}


.main_news .news .webtoon .img_box {
    display: flex;
    gap: 15px;
}




.main_news .event {
    position: relative;
    overflow: hidden;
}

.main_news .event h3 {
    font-size: 24px;
    margin: 0 0 16px 10px;
}

.main_news .event_slide {}

.main_news .event_slide .slick-dots {
    position: absolute;
    top: 0;
    right: 20px;

}

.main_news .event_slide .slick-dots li {
    display: inline-block;
}

.main_news .event_slide .slick-dots button {}

/* //메인뉴스끝// */


.main_customer {
    background-color: rgba(0, 0, 0, 0.25);
    position: relative;
}

.main_customer::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background-image: url(../imges/main-resevation-01.png);
    filter: blur(1px);
    z-index: -1;
}

.main_customer .inner {
    padding: 40px 0;
    display: flex;
    align-items: center;
    gap: 30px;
    height: calc(100vh - 300px);
    /* border: 1px solid #000; */

}


.main_customer .inner>* {
    flex: 1;
}

.main_customer .first {
    height: 358px;
    border: 2px solid #fff;
    flex: 2;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.main_customer .first>ul {
    margin: 0 20px;
}

.main_customer .first>ul>li {
    height: 179px;
}

.main_customer .first>ul>li strong {
    display: block;
    line-height: 179px;

    font-size: 32px;
    font-weight: 600;
    color: #fff;

    border-bottom: 2px solid #ddd;
    text-align: center;
}

.main_customer .first>ul>li strong .date {
    color: #1cbfff;

}

.main_customer .first>ul>li strong .icon svg {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin: 0 8px;
}




.main_customer .first>ul>ul {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 179px;

}

.main_customer .first>ul>ul>* {
    flex: 1;
}


.main_customer .first>ul>ul li {
    margin: 0 20px;
    text-align: center;
}

.main_customer .first>ul>ul li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 80px;
    background: #fff;
    z-index: 999;
}


.main_customer .first>ul>ul li p {
    display: block;
    line-height: 26px;
    color: #fff;
    font-size: 18px;
}


.main_customer .second {
    position: relative;
    background: #fff;
    height: 358px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.main_customer .second .text {
    padding: 40px;
}

.main_customer .second .text h3 {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 24px 0;
}

.main_customer .second .text p {
    display: block;
    line-height: 24px;
}

.main_customer .second .list_icon {
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.main_customer .second .list_icon svg {
    width: 6rem;
    height: 6rem;
}

.main_customer .second:hover .list_icon svg {
    stroke: #1c99ff;
}

.main_customer .third {
    position: relative;
    background: #fff;
    height: 358px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.main_customer .third .text {
    padding: 40px;

}

.main_customer .third .text h3 {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 24px 0;
}

.main_customer .third .text p {
    display: block;
    line-height: 24px;
}



.main_customer .third .check_icon {
    position: absolute;
    bottom: 30px;
    right: 40px;

}

.main_customer .third .check_icon svg {
    width: 5rem;
    height: 5rem;
}

.main_customer .third:hover .check_icon svg {
    stroke: #1c99ff;
}




.footer {}

.footer .inner {
    height: 300px;
    padding: 40px 0;
}

.footer .ft {
    display: flex;
    gap: 40px;

}

.footer .ft .ft_logo {
    width: 200px;
    height: 40px;
}

.footer .ft .adress {

    flex: 2;
}


.footer .ft .adress li {
    display: block;
    margin: 0 0 16px 0;
    line-height: 24px;
}

.footer .ft .adress .copy {
    color: #333;
    font-weight: 300;
}



.footer .ft .link {
    display: flex;
    flex-direction: column;
}